body{
    background-color: rgb(184, 184, 184);
}
.title{
text-align: center;
}

.form-control{
    justify-content: center;
    align-items: center;
    margin: auto;
}
.form-group{
    margin-top: 4%;
}
